# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# IDE / Editor folders
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Logs / Output
*.log
*.out